@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: url("https://i.pinimg.com/236x/31/56/73/31567361bacec0885dcc5098aa86727f.jpg");
  background-size: cover;
}